VITE_GITHUB_OWNER=hiyishui
VITE_CONTENT_REPO=english-listening-content
VITE_CONTENT_BRANCH=main
VITE_CONTENT_SOURCE=static
VITE_STATIC_CONTENT_BASE=
VITE_LOCAL_CONTENT_BASE=/local-content
VITE_LOCAL_CONTENT_REPO_PATH=../english-listening-content
VITE_BASE_PATH=/
